*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.manifesto_box{
    background-color:#000814;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20rem;
}
.manifesto{
    color:#FFC300;
    font-size: 8rem;

}
.tagline{
    color:#FFD60A;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}
.content{
    color: #fff4db;
    font-size: 2rem;
}
.manifesto_sub{
    font-size: 4.5rem;
}
.manifesto_sub_sub{
    font-size: 3rem;
}
.manifesto_end{
    font-size: 3rem;
    color: #FFC300;
}