@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wave-img {
  position: relative;
  left:5rem;
  /* transform: translateX(10px); */
  animation: waveAnimation 2s ease-in-out infinite;
}

@keyframes waveAnimation {
  0%, 100% {
    transform: translateY(0deg)
  }
  50% {
    transform: translateY(-5px)
  }
}

/* ------------------------------ CURSOR --------------------------- */
.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  pointer-events: none; /* Ensure it doesn't interfere with clicking */
  transform: translate(-50%, -50%); /* Center the circle on the cursor */
  z-index: 1000; /* Make sure it's above other elements */
  transition: transform 0.1s ease-out; /* Smooth the transform transitions */
}
